/* General styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Bruno Ace SC', cursive;
	font-size: 21px;
	line-height: 1.5;
	color: #0047AB;
	background-color: #F0FFFF	;
}

a {
	color: #000080;
	text-decoration: none;
}

a:hover {
	color: #B87333;
}

/* Header styles */
header {
	background-color: #6495ED;
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 0;
	font-size: 24px;
}

.text-icon {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

/* Navigation styles */
nav {
	background-color: #6495ED;
	padding: 10px 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	display: block;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #ddd;
}

/* Main content styles */
main {
	padding: 20px;
	max-width: 1980px; /* Change canvas size */
	margin: 0 auto; /* Center the content */
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

/* Footer styles */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #6495ED;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 16px;
}
